RewriteEngine On

RewriteRule ^trade$ index.php?p=trform [NC]
RewriteRule ^trlist$ index.php?p=trlist [NC]
RewriteRule ^strategylist$ index.php?p=strategylist [NC]
RewriteRule ^receiverlist$ index.php?p=receiverlist [NC]
RewriteRule ^emailtemp index.php?p=emailtemp [NC]
RewriteRule ^profile$ index.php?p=profile [NC]
RewriteRule ^broker$ index.php?p=broker [NC]
RewriteRule ^processtr$ process/process_tr.php [NC]
RewriteRule ^unsub/(.+) unsub.php?id=$1 [QSA]
RewriteRule ^unsub/$ unsub.php
RewriteRule ^unsubprocess$ process/process_unsub.php [NC]
RewriteRule ^login$ view/login.php [NC]
RewriteRule ^loginprocess$ process/process_login.php [NC]
RewriteRule ^logout$ process/process_logout.php [NC]

#RewriteRule ^DROP$ index.php [F] [NC]
