body {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;        
    color: #58585A;
}
#wrapper {
    margin: 0px auto;
    padding: 10px;
    width: 960px;
}
h2 {
    float: left;
    margin-top: 0px;
}
#rightspan {
    float: right;
}
#top {
    overflow: hidden;
}
#left,#right {        
    width: 44%;
}
#left {
    float:left;
    overflow: hidden;
}
#right {
    float:right;
    overflow: hidden;
}
#bottom {    
    clear: both;
    overflow: hidden;
}
#bottom-right {    
    float: right;
}
#bottom-left {    
    float: left;
}
#bottom-right button,#bottom-left button{    
    font-size: 16px;
    height: 40px;
}
#bottom-left button{
    margin-right: 5px;
}
#tr_form, #tr_list, #receiver_list_form, #receiver_list, #emailtemp, #strategy_list_form, #futures_list, #strategy_list, #profile, #login, #unsub {
    margin:60px auto 0px auto;    
    padding: 15px;
    width: 800px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    1px 1px 1px 1px rgba(50, 50, 50, 0.2);
    box-shadow:         1px 1px 1px 1px rgba(50, 50, 50, 0.2);
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
.clear {    
    clear: both;
    overflow: hidden;
}
/***** HEADER *****/
#header-outer {
    padding-top: 50px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
}
#header-inner {
    margin: 0px auto;
    padding-bottom: 10px;
    width: 960px;
    clear: both;
    height: 30px;
}
#header-inner #logo {
    float: left;
}
#header-inner #logo img, #header-inner #logo a {
    display: block;
}
#header-nav {
    float: right;
}
#header-nav ul {
    padding: 0px;
    margin: 0px;
}
#header-nav ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    padding: 5px;
    position:relative;
}
#header-nav ul li:last-child {
    margin-bottom: 5px;
}
#header-nav a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #58585A;
}
.settings ul {
    position:absolute;
    right: 0px;
    width: 90px;
    background: #ffffff;    
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.1s,opacity 0.3s;
    -moz-transition: visibility 0.1s,opacity 0.3s;
    transition: visibility 0.1s, opacity 0.3s;
}
#header-nav ul ul li {
    float:right;
    margin-left: 0px;
}
#header-nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transition-delay:0s;
}
#header-nav ul li:hover  i{
    color: #1B3664;
    cursor:pointer;
}
.settings i {
    margin-bottom: 12px;
    font-size: 26px;
}

/***** TR FORM *****/
#tr_form #right input, #tr_form #left input {
    margin: 10px 0px 30px 5px;
    padding: 4px;
    padding-left: 9px;
    font-size: 16px;
    line-height: 18px;
}
#tr_form #right input {
    width: 92%;  
    height: 26px;
}
#tr_form #left select {
    height: 36px;
    margin: 10px 0px 30px 5px;
    font-size: 16px;    
    padding-left: 8px;
}
#tr_form_entry_choice {
    width: 95%;
}
#tr_form_future, #tr_form_month, #tr_form_entry_choice {
    width: 70%;
}
#tr_form_num_contr {
    width: 18%;
    margin-left: 5px;
    padding: 4px 4px 4px 8px; 
    height: 26px;   
    font-size: 16px;
    line-height: 18px
}
#tr_form_year,#tr_form_duration {  
    width: 22%;
}
/******FUTURES & STRATEGIES*******/
#strategy_list_form #left {
    border-right: 1px solid rgba(50, 50, 50, 0.2);
    padding-right: 55px;
}
#strategy_list_form #right input, #strategy_list_form #left input, #futures_desc {
    margin: 10px 0px 30px 5px;
    padding: 4px;
    padding-left: 9px;
    font-size: 16px;
    line-height: 18px;
}
#futures_desc {
    width: 93%;
    font-size: 12px;
    resize:vertical;
    max-height:300px; 
    min-height:100px;
}
#strategy_list_form #right input {
    width: 92%;  
    height: 26px;
}
#futures_name {
    width: 68%;  
    height: 26px;
}
#futures_dec{
    width: 18%;
    height: 26px;
}
#strategy_list_form #left select {
    height: 36px;
    margin: 10px 0px 30px 5px;
    font-size: 16px;    
    padding-left: 8px;
    width: 98%;
}
/******LOGIN*******/
.notice {
    color: #eb4102;
    font-size: 22px;
}
#login input{
    margin-bottom: 15px;
}
/******PROFILE*******/
#profile #left {
    width: 100%;
}
#profile p {
    font-weight: bold;
    margin-bottom: 5px;
}
#profile input {    
    width: 50%;
}
.readonly  {
    border: none;
    color: #58585A;
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
}
.update,.reset,.delete,.cancel {
   display: none;
}
/******BUTTONS*******/
#tr_form button, #profile button, #login button, #unsub button, #receiver_list_form button, #emailtemp button, #strategy_list_form button {
    margin-top: 15px;
    font-family: 'PT Sans', sans-serif;        
    color: #ffffff;
    background-color: #1B3664;
    width: 110px;
    padding: 7px;
    border: 0px;
    cursor: pointer;
    border: none;	
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#tr_form button:hover, #profile button:hover, #login button:hover, #unsub button:hover,#emailtemp button:hover, #receiver_list_form button:hover, #strategy_list_form button:hover {
    color: #1B3664;
    background-color: #eee;
    border: 1px solid #1B3664;
}

/******TABLES*******/
table {
    border: 0;
    border-collapse: collapse;
    padding-bottom: 0;
    width: 100%;    
    font-size: 15px;
}
table thead {    
    border-bottom: 2px solid #eee;
}
table th {
    text-align: left;
    vertical-align: bottom;
    padding: 0 10px 10px 10px;
    text-align: left;
}
table tbody tr {    
    border-bottom: 1px solid #eee;
}
table td {
    vertical-align: top;
    padding: 10px;
}
table .td_hidden {
    display: none;
}
table tbody tr:hover {
    cursor: pointer;
}
.activetr {
    background-color: #1B3664;
    color: #ffffff;
    border-bottom-color: #1B3664;
}
[data-title='Futures Name'],[data-title='Date']{
    width: 150px;
}
/******RECEIVERS LIST*******/
#receiver_list_form input{
    width: 100%;
}
#receiver_list_form select {
    height: 25px;
}
#receiver_list_form  #email {
    width: 200px;
}
.edit td{
    cursor: default;
}
/******EMAIL TEMPS*******/
#emailtemp textarea{
    width: 740px;
    height: 400px;
    resize: none;
    background-color: inherit;
}
/******HOVER EFFECTS*******/
#header-nav a::before,
#header-nav a::after,
table tbody tr::before,
table tbody tr::after{
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
#header-nav a::before,table tbody tr::before {
    font-weight: bold;
    margin-right: 5px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
#header-nav a::after,table tbody tr::after {    
    font-weight: bold;
    margin-left: 5px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
#header-nav a:hover::before,
#header-nav a:hover::after,
#header-nav a:focus::before,
#header-nav a:focus::after,
table tbody tr:hover::before,
table tbody tr:hover::after,
table tbody tr:focus::before,
table tbody tr:focus::after{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

table tbody tr::before {
    padding: 10px;
    margin-right: -5px;
}
table tbody tr::after {
    padding: 10px;
    margin-left: -5px;
}
.edit tr:before, .edit tr:after {
    content: '';
}
/******RESPONSIVE*******/
@media screen and (max-width: 960px) {
    #main,#wrapper {
        width: 340px;
    }
    
    /******NAV RESP*******/
    #header-inner {
        width: 340px;
    }
    #header-nav {
        display: none;
   }
/*  #header-nav ul li {
        display: block;
        float: none;
    }
    #header-nav ul li ul {
        visibility: visible;
        opacity: 1;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
    }
    #header-nav ul li ul li {
        display: block;
        float: none;
    }
    .settings i{
        display: none;
    }
    .settings{
        padding: 0px;
        margin: 0px;
    }*/

    /******TR FORM RESP*******/
    #tr_list,#tr_form,#receiver_list_form,#strategy_list,#profile, #login, #unsub{
        width: 310px;
    }
    #left,#right {
        width: 100%;
    }
    #right {
        float:none;
    }#tr_form_strategy {
        float: none;
        display: block;
        clear: both;
    }
    #bottom-right {    
        float: none;
        height: 45px;
        margin-bottom: 15px;
    }
    
    /******HOVER RESP*******/
    #header-nav a::before,
    #header-nav a::after,
    table tbody tr::before,
    table tbody tr::after{
        display: none;
    }
    
    /******TABLES RESP*******/
    table,
    tbody {
        display: block;
        width: 100%;
    }
    thead { display: none; }
    table tr,
    table th,
    table td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }
    table tr {
        border-bottom: 1px solid #eee;
        padding-bottom: 11px;
        margin-bottom: 11px;
        clear: both;
    }
    table th[data-title]:before,
    table td[data-title]:before {
        content: attr(data-title) ":\00A0";
        font-weight: bold;
    }
    table td {
        border: none;
        margin-bottom: 6px;
    }
    table td:empty { display: none; }
    table td:first-child {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 6px;
    }
    table td:first-child:before { 
        content: ''; 
    }
}