body {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;        
    color: #58585A;
}
#wrapper {
    margin: 0px auto;
    padding: 10px;
    width: 960px;
}
h2 {
    float: left;
    margin-top: 0px;
}
#top {
    overflow: hidden;
}

#left {
    float:left;
}
#right {
    float:right;
}
#right input, #left select {
    margin: 10px 0px 30px 5px;
    padding: 4px;    
    font-size: 16px;
    line-height: 18px
}
#right input {
    width: 95%;    
    height: 26px;
}
#left select {
    height: 36px;
}

#bottom {    
    clear: both;
    overflow: hidden;
    height: 45px;
}
#bottom-left {    
    float: left;
    height: 40px;
}
#bottom-left button{    
    font-size: 16px;
    margin-right: 5px;    
    height: 40px;
}
#bottom-right {    
    float: right;
    height: 45px;
}
#bottom-right button{    
    font-size: 20px;
    height: 45px;
}
#tr_form, #tr_list, #receiver_list, #program_list,#profile {
    margin:60px auto 0px auto;    
    padding: 15px;
    width: 800px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    1px 1px 1px 1px rgba(50, 50, 50, 0.2);
    box-shadow:         1px 1px 1px 1px rgba(50, 50, 50, 0.2);
}
.visible {
    display: block;
}
/* HEADER */
#header-outer {
    padding-top: 50px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
}
#header-inner {
    margin: 0px auto;
    padding-bottom: 10px;
    width: 960px;
    clear: both;
    height: 30px;
}
#header-inner #logo {
    float: left;
}
#header-inner #logo img, #header-inner #logo a {
    display: block;
}
#header-nav {
    float: right;
}
#header-nav ul {
    padding: 0px;
    margin: 0px;
}
#header-nav ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    padding: 5px;
    position:relative;
}
#header-nav ul li:last-child {
    margin-bottom: 5px;
}
#header-nav a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #58585A;
}
.settings ul {
    position:absolute;
    right: 0px;
    width: 90px;
    background: #ffffff;    
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.1s,opacity 0.3s;
    -moz-transition: visibility 0.1s,opacity 0.3s;
    transition: visibility 0.1s, opacity 0.3s;
}
#header-nav ul ul li {
    float:right;
    margin-left: 0px;
}
#header-nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transition-delay:0s;
}
#header-nav ul li:hover  i{
    color: #1B3664;
    cursor:pointer;
}
.settings i {
    margin-bottom: 12px;
    font-size: 26px;
}
/* TR FORM */

#tr_form_program {
    float: right;
}
#left,#right {        
    width: 44%;
    margin-bottom: 15px;
}
#tr_form_entry_choice {
    width: 95%;
}
#tr_form_future, #tr_form_month {
    width: 70%;
}
#tr_form_num_contr {
    width: 18%;
    margin-left: 5px;
    padding: 4px 4px 4px 8px; 
    height: 26px;   
    font-size: 16px;
    line-height: 18px
}
#tr_form_year {  
    width: 22%;
}
/******PROFILE*******/
#profile #left {
    width: 100%;
}
#profile p {
    font-weight: bold;
    margin-bottom: 5px;
}
/******BUTTONS*******/

#tr_form button, #profile button {
    font-family: 'PT Sans', sans-serif;        
    color: #ffffff;
    background-color: #1B3664;
    width: 110px;
    padding: 7px;
    border: 0px;
    cursor: pointer;
    border: none;	
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#tr_form button:hover, #profile button:hover{
    color: #1B3664;
    background-color: #eee;
    border: 1px solid #1B3664;
}
/******TABLES*******/
table {
    border: 0;
    border-collapse: collapse;
    padding-bottom: 0;
    width: 100%;
}
table th {
    text-align: left;
    border-bottom: 2px solid #eee;
    vertical-align: bottom;
    padding: 0 10px 10px 10px;
    text-align: left;
}
table td {
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 10px;
    text-align: right;
}
table .td_hidden {
    display: none;
}
table tbody tr:hover {
    cursor: pointer;
}
#receiver_list table{
    font-size: 15px;
}
.activetr {
    background-color: #1B3664;
    color: #ffffff;
}
/******HOVER EFFECTS*******/

#header-nav a::before,
#header-nav a::after,
table tbody tr::before,
table tbody tr::after{
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
#header-nav a::before,table tbody tr::before {
    font-weight: bold;
    margin-right: 5px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
#header-nav a::after,table tbody tr::after {    
    font-weight: bold;
    margin-left: 5px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
#header-nav a:hover::before,
#header-nav a:hover::after,
#header-nav a:focus::before,
#header-nav a:focus::after,
table tbody tr:hover::before,
table tbody tr:hover::after,
table tbody tr:focus::before,
table tbody tr:focus::after{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

table tbody tr::before {
    padding: 10px;
    margin-right: -5px;
}
table tbody tr::after {
    padding: 10px;
    margin-left: -5px;
}
table tr th:first-child {
    padding: 0px;
    border-bottom-width: 0px;
}
/******TABLES RESPONSIVE*******/
@media screen and (max-width: 480px) {
    table,
    tbody {
        display: block;
        width: 100%;
    }
    thead { display: none; }
    table tr,
    table th,
    table td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }
    table tr {
        border-bottom: 1px solid #eee;
        padding-bottom: 11px;
        margin-bottom: 11px;
    }
    table th[data-title]:before,
    table td[data-title]:before {
        content: attr(data-title) ":\00A0";
        font-weight: bold;
    }
    table td {
        border: none;
        margin-bottom: 6px;
    }
    table td:empty { display: none; }
    table td:first-child {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 6px;
    }
    table td:first-child:before { content: ''; }
}