body {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;        
    color: #58585A;
}
#wrapper {
    margin: 0px auto;
    padding: 10px;
    width: 960px;
}
.shade {
    background: rgba(55, 58, 71, 0.7);
    background-repeat: repeat-y;    
    position: fixed;
    opacity: 20;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
    z-index: 1; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
h2 {
    float: left;
    margin-top: 0px;
}
#rightspan {
    float: right;
}
#top {
    overflow: hidden;
}
#left,#right {        
    width: 44%;
}
#left {
    float:left;
    overflow: hidden;
}
#right {
    float:right;
    overflow: hidden;
}
#bottom {    
    clear: both;
    overflow: hidden;
}
#bottom-right {    
    float: right;
}
#bottom-lef {    
    float: left;
}
#tr_form, #tr_list, #tr_list_5, #trresult_form, #receiver_form, #receiver_list, #emailtemp, #strategy_list_form, #futures_list_form, #futures_list, #strategy_list, #profile, #broker_form, #login, #unsub,#user_list,#user_list_form, #notice {
    margin:60px auto 0px auto;    
    padding: 15px;
    width: 900px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    1px 1px 1px 1px rgba(50, 50, 50, 0.2);
    box-shadow:         1px 1px 1px 1px rgba(50, 50, 50, 0.2);
}
#right input{
    height: 26px;
}
#left select, #right select {
    height: 36px;
    margin: 10px 0px 30px 5px;
    font-size: 16px;    
    padding-left: 8px;
}
#receiver_list, #user_list {
    height: 520px;
}
#tr_list_5 {
    height: 320px;
}
#tr_list table, #tr_list_5 table, #receiver_list table{
    display: block;
    overflow: hidden;
}
#tr_list_5 table, #receiver_list table {
    height: 270px;
}
#trresult_form input {
    color: #000;
    font-size: 18px;
    line-height: 26px;
}
#to_bottom {
    margin: 0px auto;
    width: 20px;
    display: block;
    font-size: 22px;
    color: #1B3664;
}
#to_bottom:hover {
    color:#58585A;
    cursor: pointer;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
.clear {    
    clear: both;
    overflow: hidden;
}
.icon_active {    
    color: #1B3664;
}
/***** HEADER *****/
#header-outer {
    padding-top: 50px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
}
#header-inner {
    margin: 0px auto;
    padding-bottom: 10px;
    width: 960px;
    clear: both;
    height: 30px;
}
#header-inner #logo {
    float: left;
}
#header-inner #logo img, #header-inner #logo a {
    display: block;
}
#header-nav {
    float: right;
}
#header-nav ul {
    padding: 0px;
    margin: 0px;
}
#header-nav ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    padding: 5px;
    position:relative;
}
#header-nav ul li:last-child {
    margin-bottom: 5px;
}
#header-nav a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #58585A;
}
.settings ul {
    position:absolute;
    right: 0px;
    width: 90px;
    background: #ffffff;    
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.1s,opacity 0.3s;
    -moz-transition: visibility 0.1s,opacity 0.3s;
    transition: visibility 0.1s, opacity 0.3s;
}
#header-nav ul ul li {
    float:right;
    margin-left: 0px;
}
#header-nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transition-delay:0s;
}
#header-nav ul li:hover  i{
    color: #1B3664;
    cursor:pointer;
}

#header-inner .respons{
    display: none;
}
.settings i {
    margin-bottom: 12px;
    font-size: 26px;
}
/***** TR FORM *****/
#tr_form #right input, #receiver_form #right input, #receiver_form #left input, #tr_form #left input, #fk_strategy {
    margin: 10px 0px 30px 5px;
    padding: 4px;
    padding-left: 9px;
    font-size: 16px;
    height: 26px;
}
#fk_strategy {
    padding: 0px;
    margin: 0px;
}
#tr_form #right .replace {
    width: 83%;
}
#tr_form #right .mark_red {
    color: #eb4102;
    font-weight: bold;
}
.disable, .disable_time {
    pointer-events: none;
    background-color: #eee;
    border: 1px solid #AEAEAE;
}
.disable_time {
    color: #eee;    
}
#tr_form #right .prices{
    width: 92%;
}
#tr_form #right .radio_rep {
    margin: 6px;
    padding: 0px;
    vertical-align: middle;    
}
#tr_form #right .radio_require {
    box-shadow: 0 0 3px 2px #F00;
    -webkit-box-shadow: 0 0 3px 2px #F00;
    border: none;
}
#fk_future, #month, #entry_choice {
    width: 70%;
}
#num_contr {
    width: 18%;
    margin-left: 5px;
    padding: 4px 4px 4px 8px; 
    height: 26px;   
    font-size: 16px;
    line-height: 18px
}
#year,#duration {  
    width: 22%;
}
/******RECEIVER FORM*******/
#receiver_form #left input  {
    width: 92%;
}
#receiver_form #left select {
    width: 96%;
}
#subs_form, #futures_area {
    border: 1px solid #AEAEAE;
    clear: both;
    overflow-y: auto;
    margin: 10px 0 30px 5px;
    padding: 4px 4px 4px 9px;
}
#futures_area {
    height: 423px;
    max-height: 423px;
}
#subs_form {
    height: 223px;
    max-height: 223px;
}
#receiver_form #subs_form input[type="number"] {
    width: 18%;
    float: right;
    padding-left: 9px; 
    margin: 0px;
    height: 26px;
}
#receiver_form #subs_form input[type="checkbox"], #strategy_list_form #futures_area input[type="checkbox"] {
    margin: 15px 6px 0px 0px;
    height: 13px;   
}
#strategy_list_form input[type="checkbox"] {
    margin: 15px 6px 0px 5px;
    height: 13px;   
}
#subs_form label {
    display: inline-block;
}
#receiver_form #broker_acc {
    width: 22%;
}
#receiver_form #na_number {    
    width: 69%;
}
/******FUTURES & STRATEGIES*******/
#strategy_list_form #right input, #strategy_name, #strategy_symbol, #num_tr_day, #start_time, #end_time, #cxr_end_time, #cxr_start_time, #auto_tr, #num_contracts, #futures_list_form  #left input, #futures_desc, #broker_form input {
    margin: 10px 0px 30px 5px;
    padding: 4px;
    padding-left: 9px;
    font-size: 16px;
    line-height: 18px;
}
#strategy_name_left, #strategy_name_right{  
    float: left; 
}
#strategy_name_left {
    width: 80%;
}
#strategy_name {
    width: 88%;
}
#strategy_name_right {
    width: 20%;
}
#strategy_symbol {
    width: 63%;    
}
#tr_per_day {
    clear: both;
}
#tr_time, #cxr_time {
    display: inline-block;
}
#strat_check, #futures_check, #start_time_check, #end_time_check {
    height: 38px;
    margin-bottom: 9px;
}
#tr_time_left, #tr_time_right, #cxr_time_left, #cxr_time_right{
    float: left;
    width: 48%;
}
#auto_tr_left, #auto_tr_right, #auto_tr_center {
    float: left;
    width: 30%;
}
#tr_time_right, #cxr_time_right, #auto_tr_right, #auto_tr_center {
    margin-left: 10px;
}
#start_time, #end_time, #cxr_start_time, #cxr_end_time, #num_tr_day, #auto_tr, #num_contracts{
    width: 87%;
}
#futures_desc {
    width: 93%;
    font-size: 12px;
    resize:vertical;
    max-height:300px; 
    min-height:223px;
    border: 1px solid #AEAEAE;
}
#strategy_list_form  input,  #futures_list_form input {
    height: 26px;
}
#futures_name {
    width: 67%;  
    height: 26px;
}
#futures_dec{
    width: 17%;
    height: 26px;
}
#strategy_list_form #right select {
    width: 98%;
}
#broker_form input {
    width: 318px;
}
/******LOGIN*******/
.notice {
    color: #eb4102;
    font-size: 22px;
}
#login input{
    margin-bottom: 15px;
}
/******PROFILE*******/
#profile #left {
    width: 100%;
}
#profile p {
    font-weight: bold;
    margin-bottom: 5px;
}
#profile input {    
    width: 50%;
}
.readonly  {
    border: none;
    color: #58585A;
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
}
.update,.reset,.delete,.cancel, #tr_form_cxl, #tr_form_rpl, .radio_rep {
    display: none;
}
/******BUTTONS*******/
button {  
    font-size: 16px;
    height: 40px;
    margin-top: 15px;
    font-family: 'PT Sans', sans-serif;        
    color: #ffffff;
    background-color: #1B3664;
    width: 110px;
    padding: 7px;
    cursor: pointer;
    border: none;	
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
button:hover {
    color: #1B3664;
    background-color: #eee;
    border: 1px solid #1B3664;
}

/******TABLES*******/
table {
    border: 0;
    border-collapse: collapse;
    padding-bottom: 0;
    width: 100%;    
    /*font-size: 15px;*/
}
table thead {    
    border-bottom: 2px solid #eee;
}
table th {
    text-align: left;
    vertical-align: bottom;
    padding: 0 10px 10px 10px;
    text-align: left;
}
table tbody tr {    
    border-bottom: 1px solid #eee;
    height: 43px;
}
table td {
    vertical-align: top;
    padding: 10px;
}
table .td_hidden {
    display: none;
}
table tbody tr:hover {
    cursor: pointer;
}
.activetr, .activetr a {
    background-color: #1B3664;
    color: #ffffff;
    border-bottom-color: #1B3664;
}
#tr_list_5 table, #tr_list table {
    font-size: 12px;
}
/*[data-title='Date']{
    width: 81px;
}
[data-title='Futures Name']{
    width: 121px;
}*/
.receiver_info {
    color: #828286;
}
.receiver_info:hover {
    color: #58585A;
}
/******EMAIL TEMPS*******/
#emailtemp textarea{
    width: 790px;
    height: 400px;
    resize: none;
    background-color: inherit;
}
/******NOTIFICATION*******/
#notice{
    width: 450px;
    position: fixed;
    top: 10%;
    left: 35%;
    background: #ffffff;
    z-index: 2;
    display: none;
}
#notice-span {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
}
.notice-close,.notice-cancel,.notice-confirm {
    display: none;
}
/******PAGINATE*******/
#paginate {
    margin: 30px auto;
    text-align: center;
    width: 100%;
}
.element{
    margin: 5px;
    background-color: #1B3664;
    display: inline-block;
}
.element a, .element span{
    text-align: center;
    width: 30px;
    color: #eee;
    display: block;
    vertical-align: central;
    padding: 5px;
    text-decoration: none;	
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;    
    border: 1px solid #1B3664;
}
.disabled {
    background-color: #58585A;
    pointer-events: none;
}
.element a:hover, .active a {
    color: #1B3664;
    background-color: #eee;
    border: 1px solid #1B3664;
}
.active a {    
    pointer-events: none;
}
/******HOVER EFFECTS*******/
#header-nav a::before,
#header-nav a::after,
table tbody tr::before,
table tbody tr::after{
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
#header-nav a::before,table tbody tr::before {
    font-weight: bold;
    margin-right: 5px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
#header-nav a::after,table tbody tr::after {    
    font-weight: bold;
    margin-left: 5px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
#header-nav a:hover::before,
#header-nav a:hover::after,
#header-nav a:focus::before,
#header-nav a:focus::after,
table tbody tr:hover::before,
table tbody tr:hover::after,
table tbody tr:focus::before,
table tbody tr:focus::after{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

table tbody tr::before {
    padding: 10px;
    margin-right: -5px;
}
table tbody tr::after {
    padding: 10px;
    margin-left: -5px;
}
.edit tr::before, .edit tr::after {
    content: '';
}
#filterspan:hover {
    color: #1B3664;
}
#tr_list_filter, #receiver_list_filter{
    float:left;
    clear: both;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #AEAEAE;
}
.filter {
    float:left;
    width: 160px;
    margin: 4px 10px 0px 0px;
}
.filter select{
    width: 160px;
}
#tr_list_filter button, #receiver_list_filter button{
    height: 30px;
    font-size: 14px;
    width: 60px;
    padding: 0px;
}
/******RESPONSIVE*******/
@media screen and (max-width: 800px) {
    #main,#wrapper {
        width: 340px;
        padding-top: 45px;
    }    
    /******NAV RESP*******/
    #header-outer {
        height: 40px;
        width: 100%;        
        position:fixed;        
        z-index: 5;     
    }
    #header-inner {
        top:50px;   
    }
    #header-inner, #header-nav {
        width: 100%; 
    }
    #header-nav {    
        position: fixed;
        z-index: 5;
        display: none;
        top: 91px;
        background: #ffffff;    
        -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
        box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    }
    #header-nav a {
        height: 30px;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
    #header-nav ul li ul li:last-child a{
        border-bottom: none;
    }
    #header-nav ul li {
        display: block;
        float: none;
        padding: 0px;
    }
    #header-nav ul li ul {
        visibility: visible;
        opacity: 1;        
        background: #ffffff;        
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
    }
    #header-nav ul li ul li {
        display: block;
        float: none;
    }
    #header-inner .respons {
        display: block;
        float: right;
        margin-right: 10px;
        font-size: 32px;
    }
    .settings i{
        display: none;
    }
    .settings ul {
        width: 100%;
        position: relative;
    }
    .settings{
        padding: 0px;
        margin: 0px;        
    }
    /******NOTIFICATION RESP*******/
    #notice {
        width: 310px;
        top: 10%;
        left: auto;
    }
    /******PAGINATION RESP*******/
    .element:nth-child(n+2):not(:nth-last-child(-n+1)):not(.active) {
        display: none;
    }
    #profile input, #broker input {
        width: 100%;
    }
    /******TR FORM RESP*******/
    #tr_list,#tr_list_5,#tr_form,#receiver_form,#strategy_list_form,#futures_list_form, #strategy_list,#profile, #broker_form, #login, #unsub, #futures_list, #receiver_list, #emailtemp {
        width: 310px;
    }    
    #tr_list_5, #tr_list_5 table, #tr_list, #tr_list table, #receiver_list, #receiver_list table {
        height: 100%;
    }
    #rightspan{
        float: left;
        margin-bottom: 20px;
    }
    #left,#right {
        width: 100%;
        overflow: visible;
    }
    #right {
        float:none;
    }
    #tr_form #left, #strategy_list_form #left, #futures_list_form #left {
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
    }
    #bottom-right {
        height: 45px;
    }  
    button {
        width: 100px;
        font-size: 14px;
    }        
    #tr_form_cancel, #tr_form_submit{
        width: 110px;
    }
    #emailtemp textarea, #receiver_form #email {
        width: 100%;
    }
    #strategy_list_form #right #futures_list_form #right{
        border: none;
        padding-left: 0px; 
    }
    .strategy_form, .futures_form {
        height: 100%;
    }
    #strategy_list_form button #futures_list_form button{
        margin-bottom: 10px;
    }
    #login input {
        height: 26px;
    }
    /******HOVER RESP*******/
    #header-nav a::before,
    #header-nav a::after,
    table tbody tr::before,
    table tbody tr::after{
        display: none;
    }

    /******TABLES RESP*******/
    table, table tbody {
        display: block;
        width: 100%;
        height: 100%;
    }
    thead { display: none; }
    table tr,
    table th,
    table td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }
    table tbody tr {
        border-bottom: 1px solid #eee;
        padding-bottom: 11px;
        margin-bottom: 11px;
        clear: both;
        height: 100%;
    }
    table th[data-title]:before,
    table td[data-title]:before {
        content: attr(data-title) ":\00A0";
        font-weight: bold;
    }
    table td {
        border: none;
        margin-bottom: 6px;
    }
    table td:empty { display: none; }
    table td:first-child {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 6px;
    }
    table td:first-child:before { 
        content: ''; 
    }    
    [data-title="Futures Name"], [data-title="Date"], [data-title='Date Added'] {
        width: 100%;
    }
    .strategy_info, .receiver_info {
        display: none;
    }
}