<!DOCTYPE HTML>
<html>
    <head>
        <title>Northern Advisors LOD</title>
        <meta name="robots" content="noindex">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link href="style/style.css" rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <link href="style/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="header-outer">
            <div id="header-inner">
                <div id="logo">
                    <a href=""><img src="images/index.png" alt=""/></a>
                </div>
                <div id="header-nav">
                    <ul>
                        <li><a href="trade">New TR</a></li>
                        <li><a href="trlist">Trade Recs</a></li>
                        <li><a href="programlist">Programs</a></li>
                        <li><a href="receiverlist">Receivers</a></li>
                        <li class="settings">
                            <i class="fa fa-bars"></i>
                            <ul>
                                <li><a href="profile">Profile</a></li>
                                <li><a href="broker">Broker</a></li>                            
                                <li><a href="">LogOut</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="wrapper">            
            <div id="main">
                [CONTENT]                
            </div>
            <footer></footer>
        </div>
    </body>
</html>